.FooterContainer {
    box-sizing: border-box;
    overflow: auto;
    content: "";
    clear: both;
    background-color: #000000;
    padding: 15px 20px;
}
.FooterHead {
    font-size: 30px;
    text-align: left;
}
.AboutMe {
    font-size: 12px;
    text-align: left;
}
.CopyRight {
    font-size: 8px;
    text-align: center;
}
.FooterHead,
.AboutMe,
.CopyRight {
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
