/* Movie */
.PageHead {
    font-size: 40px;
    padding: 10px;
    margin: 10px;
}
.SearchBar {
    outline: none;
    border: none;
    border-radius: 20px;
    width: 45vw;
    height: 22px;
    font-size: 12px;
    padding: 5px 20px;
    margin-bottom: 20px;
}
/* MovieCard */
.MovieContainer {
    box-sizing: border-box;
    display: inline-block;
    z-index: 1;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px #f57474;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    width: 200px;
    height: fit-content;
    padding-bottom: 10px;
    margin: 10px;
}
.MovieImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
}
.MovieName {
    font-size: 15px;
    padding: 10px 2px;
    margin: 1px 1px;
}
.MovieName,
.SearchBar,
.PageHead,
.MovieCategory,
.MovieRating {
    font-weight: 700;
}
.MovieCategory {
    border: 2px solid #9370d8;
}
.MovieRating {
    border: 2px solid mediumturquoise;
}
.MovieCategory,
.MovieRating {
    border-radius: 10px;
    font-size: 12px;
    padding: 1px 10px;
    margin: 0px 3px;
}
/*Extra*/
.InLine {
    box-sizing: border-box;
    display: inline-flex;
}
